/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/

.portrait{
    max-width:auto;
    max-height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
    margin-top:-30px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
}

article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: 'Audiowide', cursive;
}

/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#eee;
}

footer{
    background:#eee;
}

.jumbotron{
  background: url('https://yt3.ggpht.com/-LJ_etjqtuM8/VlZ4iGmymMI/AAAAAAAAAZE/AwzMIk5q_XA/w2120-fcrop64=1,00005a57ffffa5a8-nd/New%2BPanda%2Bbanner.png') no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
body {
    background:#030303;
}
.thumbnail{
    border: 4px solid #9F00FF;
    
}
.star {
  z-index:-100000;
  display: block;
  border-radius: 50%;
  position: fixed;
  box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
}

.galaxy {
  z-index:-100000;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: rotate 300s linear infinite;
  animation: rotate 300s linear infinite;
  background-image: -webkit-radial-gradient(circle, peachpuff, darkblue, transparent 70%);
  background-image: -webkit-radial-gradient( circle, peachpuff, darkblue, transparent 70%);
  background-image: radial-gradient( circle, peachpuff, darkblue, transparent 70%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 50%;
  overflow: hidden;
  height: 800px;
  width: 800px;
  margin: auto;
}

.universe {
  z-index:-100000;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(50em) rotateX(-120deg) rotateY(20deg);
          transform: perspective(50em) rotateX(-120deg) rotateY(20deg);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
body {
  background-color: black;
}
.tetrominos {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-112px, -96px);
          transform: translate(-112px, -96px);
}

.tetromino {
  width: 96px;
  height: 112px;
  position: fixed;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.box1 {
  -webkit-animation: tetromino1 1.5s ease-out infinite;
          animation: tetromino1 1.5s ease-out infinite;
}

.box2 {
  -webkit-animation: tetromino2 1.5s ease-out infinite;
          animation: tetromino2 1.5s ease-out infinite;
}

.box3 {
  -webkit-animation: tetromino3 1.5s ease-out infinite;
          animation: tetromino3 1.5s ease-out infinite;
  z-index: 2;
}

.box4 {
  -webkit-animation: tetromino4 1.5s ease-out infinite;
          animation: tetromino4 1.5s ease-out infinite;
}

@-webkit-keyframes tetromino1 {
  0%, 40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    /* pre-box */
    -webkit-transform: translate(48px, -27px);
            transform: translate(48px, -27px);
  }
  60%, 100% {
    /* box */
    /* compose logo */
    -webkit-transform: translate(96px, 0);
            transform: translate(96px, 0);
  }
}

@keyframes tetromino1 {
  0%, 40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    /* pre-box */
    -webkit-transform: translate(48px, -27px);
            transform: translate(48px, -27px);
  }
  60%, 100% {
    /* box */
    /* compose logo */
    -webkit-transform: translate(96px, 0);
            transform: translate(96px, 0);
  }
}
@-webkit-keyframes tetromino2 {
  0%, 20% {
    /* compose logo */
    /* 1 on 3 */
    -webkit-transform: translate(96px, 0px);
            transform: translate(96px, 0px);
  }
  40%, 100% {
    /* L-shape */
    /* box */
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
}
@keyframes tetromino2 {
  0%, 20% {
    /* compose logo */
    /* 1 on 3 */
    -webkit-transform: translate(96px, 0px);
            transform: translate(96px, 0px);
  }
  40%, 100% {
    /* L-shape */
    /* box */
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
}
@-webkit-keyframes tetromino3 {
  0% {
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
  20%, 60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(96px, 54px);
            transform: translate(96px, 54px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
}
@keyframes tetromino3 {
  0% {
    /* compose logo */
    -webkit-transform: translate(144px, 27px);
            transform: translate(144px, 27px);
  }
  20%, 60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(96px, 54px);
            transform: translate(96px, 54px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
}
@-webkit-keyframes tetromino4 {
  0%, 60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes tetromino4 {
  0%, 60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    -webkit-transform: translate(48px, 27px);
            transform: translate(48px, 27px);
  }
  90%, 100% {
    /* compose logo */
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
